@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap");
/* START OF RESETS */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
kbd,
strong,
i,
ul,
li,
form,
label,
legend,
table,
caption,
article,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', 'Times New Roman', Times, serif;
}

h2 {
  font-size: 3em;
}

/* END OF RESETS */
/* START OF HEADER */
.outermost-wrapper {
  padding-top: 80px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
}

header .logo a {
  display: block;
  height: 18px;
}

header .logo a img {
  height: 100%;
}

.nav-list {
  position: fixed;
  top: 80px;
  height: 100%;
  bottom: 0;
  left: 100%;
  width: 100%;
  background-color: #302B33;
  background-image: url("../img/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: 0 90%;
  background-size: 100%;
  font-size: 1.375em;
  font-weight: 700;
  color: #fff;
  padding: 30px 24px;
}

.nav-list ul {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 35%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav-list ul li {
  padding: 18px 0;
  margin-bottom: 6px;
}

/* END OF HEADER */
.hero-wrapper {
  background-color: #2d2640;
  position: relative;
}

.hero-wrapper::after {
  display: block;
  content: "";
  height: 334px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -210px;
  background-image: url("../img/bg-pattern-intro-right-mobile.svg");
  background-position: right 0;
  background-repeat: no-repeat;
}

.hero__img-wrapper picture {
  display: block;
  height: 0;
  padding-bottom: 120.3%;
  position: relative;
}

.hero__img-wrapper picture img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* INTRO */
.intro {
  color: #fff;
  padding: 90px 20px;
  position: relative;
  background-image: url("../img/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
}

.intro .text-content h2 {
  margin-bottom: 18px;
}

.intro .text-content p {
  line-height: 26px;
  margin-bottom: 30px;
}

.intro .text-content button {
  font-size: .86em;
}

/* Start of Feature */
#feature {
  padding: 140px 0 120px;
}

#feature .content-wrapper {
  position: relative;
  padding: 0 20px;
}

#feature .content-wrapper::before {
  display: block;
  content: "";
  background-color: #b29eb1;
  height: 1px;
  width: 40%;
  position: absolute;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#feature .content-wrapper .feature-grid__item {
  margin-bottom: 16px;
}

#feature .content-wrapper h2 {
  padding: 40px 0;
}

#feature .content-wrapper svg {
  margin: 38px;
}

#feature .content-wrapper h3 {
  font-size: 1.75em;
  margin-bottom: 20px;
}

#feature .content-wrapper p {
  line-height: 1.7em;
  color: #837d87;
}

/* End of Feature */
/* START OF MORE INFO */
#more-info {
  padding: 0 20px 140px;
}

#more-info .content-wrapper {
  padding: 70px 40px;
  background-color: #2d2640;
  color: #fff;
  background-image: url("../img/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right 0;
}

#more-info .content-wrapper h2 {
  font-size: 2.4em;
  margin-bottom: 42px;
}

#more-info .content-wrapper button {
  font-size: .8em;
}

/* END OF MORE INFO */
/* START OF FOOTER */
footer {
  background-color: #fafafa;
  padding: 90px 0 0;
  background-image: url("../img/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
}

footer > * {
  padding: 0 20px;
}

footer nav {
  letter-spacing: .075em;
  border-top: .5px solid #d8d8d8;
  padding: 40px 0;
  font-weight: 700;
}

footer nav h4 {
  font-size: 14px;
  color: #837d87;
}

footer nav ul {
  padding: 20px 0;
}

footer nav li {
  margin: 18px 0;
  font-size: 14px;
  color: #2d2640;
}

footer nav a:hover {
  text-decoration: underline;
}

.social-media-list {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-media-list li {
  margin: 0 .5em;
}

.social-media-list a:hover {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

/* END OF FOOTER */
/* JS events Styling */
.j-nav-show header .nav-list {
  left: 0;
}

.hamburger-btn {
  border: 2px solid #2C2830;
  height: 18px;
  width: 18px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 6px;
  position: relative;
  cursor: pointer;
}

.hamburger-btn .hamburger__middle-line {
  position: absolute;
  width: 17px;
  height: 2px;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -1px;
  margin-left: -8.5px;
  background-color: #2C2830;
}

.hamburger-btn .hamburger__middle-line::before, .hamburger-btn .hamburger__middle-line::after {
  display: block;
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #2C2830;
}

.hamburger-btn .hamburger__middle-line::before {
  top: -5px;
}

.hamburger-btn .hamburger__middle-line::after {
  top: 5px;
}

.hamburger-btn.is-active .hamburger__middle-line {
  background: transparent;
}

.hamburger-btn.is-active .hamburger__middle-line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-btn.is-active .hamburger__middle-line::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.insure-btn {
  color: #fff;
  text-align: center;
  font-size: 1em;
  border: 2px solid #fff;
  padding: .9em 2.3em;
  font-weight: 700;
  letter-spacing: 2px;
}

.insure-btn.hover-dark:hover {
  background-color: #2d2640 !important;
  color: #fff !important;
}

.insure-btn.hover-light:hover {
  background-color: #fff !important;
  color: #2d2640 !important;
}

.insure-btn.full-width {
  display: block;
  padding-top: .9em;
  padding-bottom: .9em;
  width: 100%;
}

.max-w-1142 {
  max-width: 1142px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }
  h2 {
    font-size: 4.4em;
    letter-spacing: -.5px;
  }
  .nav-list {
    position: static;
    background: none;
    padding: 0;
    font-size: 1em;
  }
  .nav-list ul {
    height: 100%;
    position: static;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list ul li {
    color: #837d87;
    padding: 0;
    margin: 0;
    margin-left: 1.2em;
  }
  .nav-list ul li a:hover {
    color: #2d2640;
  }
  .nav-list ul li:last-child {
    margin-left: 2em;
    margin-right: 0;
  }
  .nav-list .insure-btn {
    color: #2b272f;
    border-color: #2b272f;
    padding: .6em 1.2em;
    letter-spacing: 1px;
  }
  main {
    text-align: left;
    position: relative;
  }
  main .hero-wrapper::after {
    top: -82px;
    height: 594px;
    left: auto;
    right: 0;
    width: 460px;
    background-image: url("../img/bg-pattern-intro-right-desktop.svg");
    background-size: 100% 100%;
  }
  main .hero-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    height: 504px;
    width: 200px;
    bottom: -332px;
    background: no-repeat url("../img/bg-pattern-intro-left-desktop.svg");
  }
  main .hero-wrapper .max-w-1142 {
    position: relative;
  }
  main .hero__img-wrapper {
    position: absolute;
    right: 20px;
    top: 105px;
    width: 540px;
  }
  main .intro {
    margin-right: 540px;
    padding: 105px 40px 126px 20px;
    background: none;
  }
  main .intro::before {
    display: block;
    content: '';
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    width: 150px;
    height: 58px;
    margin-left: -8px;
  }
  main .intro .insure-btn {
    padding: .825em 1.8em;
  }
  #feature {
    padding-top: 306px;
  }
  #feature .content-wrapper {
    padding-top: 30px;
  }
  #feature .content-wrapper::before {
    width: 150px;
    height: 2px;
    left: 14px;
    -webkit-transform: none;
            transform: none;
  }
  #feature .feature-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 18px;
    margin-bottom: 20px;
  }
  #feature .feature-grid .feature-grid__item {
    width: 348px;
  }
  #feature .feature-grid .feature-grid__item svg {
    margin: 36px 0;
  }
  #more-info {
    padding-bottom: 150px;
  }
  #more-info .content-wrapper {
    padding: 0 78px;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1102px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/bg-pattern-how-we-work-desktop.svg");
  }
  #more-info .content-wrapper h2 {
    width: 500px;
    font-size: 3.6em;
    margin: 0;
  }
  footer {
    padding: 30px 0 0;
    background-image: url("../img/bg-pattern-footer-desktop.svg");
  }
  footer .logo-socmed {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer nav {
    text-align: left;
    max-width: 1102px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0 25px;
  }
  footer nav section:nth-child(1) {
    width: 285px;
  }
  footer nav section:nth-child(2) {
    width: 285px;
  }
  footer nav section:nth-child(3) {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  footer nav section:nth-child(4) {
    width: 251px;
  }
}
/*# sourceMappingURL=main.css.map */