@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap');

/* START OF RESETS */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
kbd,
strong,
i,
ul,
li,
form,
label,
legend,
table,
caption,
article,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: Karla, Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: none;
}
h1,h2,h3 {
  font-family: 'DM Serif Display', 'Times New Roman', Times, serif;
}
h2 {
  font-size: 3em;
}
/* END OF RESETS */

$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$very-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);
$border-violet: #302B33;




